@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis error facilis fugit molestiae nobis quibusdam quo repudiandae velit. Aspernatur fugiat id magni optio possimus quidem repellat sapiente temporibus voluptatem.
</p>