@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
<header>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Main" asp-action="Index">Main</a>
</header>
<div id="main">
    @RenderBody()
</div>
<footer>
    <h2>TEMP FOOTER</h2>
</footer>
</body>
</html>